**/__pycache__/
server/maliketh/__pycache__
server/instance/
server/config/admin/certs/*
!server/config/admin/certs/.keep
**.pem
implant/.vs*
implant/*.exe
implant/*.obj
.vscode/c_cpp_properties.json
.vscode/settings.json
client/*.json

implant/go_src/build/*
